.container {
  background-color: bisque;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentBox {
  position: relative;
}

.contentBox img {
  background-color: #7fffd4;
  max-height: 300px;
  max-width: 300px;
  border-radius: 100%;
  border: 5px solid rgb(255, 255, 255);
}

.contentBox span {
  content: '';
  position: absolute;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 10px;
  bottom: -160px;
}
